<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="text-bg-dark ">
  <div class="main" id="main">
    <table class="table table-bordered align-middle table-dark">
      <thead>
        <tr>
          <th colspan="7"></th>
          <th class="bg-primary text-white text-center" colspan="2">Đơn giá(VND)</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% var stt=0 %>
        <% var powner = ""%>
        <% var ptype =-1%>
        <% for (const result of data) { %>
          <% console.log( "1: " + result.clientID + " 2: " + powner); %>

        <% if(result.clientID+"" != powner){%>
        <% if(ptype!=result.type){%>
        <tr class="bg-primary text-white text-center">
          <th class="bg-primary text-white text-center">STT<br />NO</th>
          <th class="bg-primary text-white text-center">
            <div class="d-flex justify-content-center align-items-center">
              Website<br />
              Website
              <div class="dropdown">
                <button type="button" class="btn btn-link text-white fs-5 btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ...
                </button>
                <ul class="dropdown-menu">
                  <li><button id="addClient" class="dropdown-item">Add</button></li>
                </ul>
              </div>
            </div>
          </th>
          <th class="bg-primary text-white text-center">Tên vị trí<br />Ads Position</th>
          <th class="bg-primary text-white text-center">
            Kích thước (px)<br />Dimensions (px)
          </th>
          <th class="bg-primary text-white text-center">Nền tảng<br />Platform</th>
          <th class="bg-primary text-white text-center">Demo<br />Demo</th>
          <%result.columnnames.forEach(columnname => {%>
          <th class="bg-primary text-white text-center"><%=columnname%></th>
          <%}); %>
        </tr>
        <%ptype = result.type%>
        <%}%>

              <tr>
                <td class="bg-danger text-white" colspan="11">
                  <div class="d-flex justify-content-center align-items-center">
                    <a class="nametag" href="https://<%=result.owner%>">
        <%=result.owner%>
        </a>
        <div class="dropdown">
          <button type="button" class="btn btn-link text-white fs-5 btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            ...
          </button>
          <ul class="dropdown-menu">
            <li><button id="updateClient" class="dropdown-item"  value="<%= result.clientID %>">Update</button></li>
            <li><a class="dropdown-item" href="/client/delete/<%=result.clientID%>">Delete</a></li>
            <li><button id="addPosition" class="dropdown-item" value="<%= result.clientID %>">Add position</button></li>
          </ul>
        </div>
  </div>
  </td>
  </tr>

  <%}%>
            <tr>
              <% if(result.clientID+"" != powner){%>
  <%stt++%>
  <%}%>
              <td>      
                <%=stt%>
  </td>
  <td>
    <div class="d-flex justify-content-center align-items-center" data-client="<% result.clientID %>">
      <a class="nametag" href="https://<%=result.owner%>">
        <%=result.owner%>
      </a>
      <div class="dropdown">
        <button type="button" class="btn btn-link text-white fs-5 btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          ...
        </button>
        <ul class="dropdown-menu">
          <li><button id="updateClient" class="dropdown-item" value="<%= result.clientID %>">Update</button></li>
          <li><a class="dropdown-item" href="/client/delete/<%=result.clientID%>">Delete</a></li>
          <li><button id="addPosition" class="dropdown-item" value="<%= result.clientID %>">Add position</button></li>
        </ul>
      </div>
    </div>
  </td>
  <td>
    <% if(result.position){ %>
    <div class="d-flex justify-content-center align-items-center">
      <%=result.position%>
      <div class="dropdown">
        <button type="button" class="btn btn-link text-white fs-5 btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          ...
        </button>
        <ul class="dropdown-menu">
          <li><button id="updatePosition" class="dropdown-item" value="<%=result.positionID %>">Update</button></li>
          <li><a class="dropdown-item" href="/position/delete/<%=result.positionID%>">Delete</a></li>
          <li><button id="addBill" class="dropdown-item" 
            value="<%= result.positionID%>"
            data-presenttype="<%= result.type%>"
            
            <% types.forEach((type,index) =>{ %>
              data-type-<%=index%> = "<%= type.propertynames.toString() %>"
            <%}) %>>Add bill</button></li>
        </ul>
      </div>
    </div>
  </td>

  <!-- modal add bill -->
  <!-- <div class="modal fade" id="addbillform<%=result.positionID%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog text-bg-dark">
      <div class="modal-content text-bg-dark">
        <div class="modal-header text-bg-dark">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Add bill to position <%=result.position%></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3 text-start" id="billtypeform<%=result.positionID%>">
            <button id="typetrigger<%= result.positionID %>" type="button" class="btn btn-primary btn-sm dropdown-toggle" type="button" value="<% result.type %>" data-bs-toggle="dropdown" aria-expanded="false">
              Type
            </button>
            <ul class="dropdown-menu">
              <% types.forEach((type) => {%>
              <li><button type="button" class="btn btn-link btn-smc dropdown-item" id="type" data-whatever="<%= result.positionID %>" value="<%= type.propertynames.toString() %>"><%= type.num %></button></li>
              <% }) %>
            </ul>
            <p>Current type:</p>
            <p id="typeLabel<%=result.positionID%>"> <%= result.type %></p>
          </div>
          <form id="billFormInputGroup<%=result.positionID%>">
            <% result.propertynames.forEach(property => { %>
            <div class="mb-3 text-start">
              <label for="bill<%=property%>AddInput" class="form-label"><%=property%></label>
              <input type="text" class="form-control" id="bill<%=property%>AddInput<%= result.positionID %>" placeholder="required">
            </div>
            <% }) %>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="billAdd" value="<%= result.positionID %>" data-bs-dismiss="modal">Add</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div> -->
  <% } %>

  <td>
    <% if (result.size) {%>
    <pre><%=result.size%></pre>
    <% } %>
  </td>
  <td>
    <%=result.platform%>
  </td>
  <td>
    <% result.demolinks.forEach((demolink, index) => { %>
    <a href=<%=demolink%>> <%=result.demonames[index]%></a><br />
    <% }) %>
  </td>
  <%result.propertynames.forEach((property,index) =>{%>
  <% if (index==0) { %>
  <td>
    <div class="d-flex justify-content-center align-items-center">
      <%=result[property]%>
      <div class="dropdown">
        <button type="button" class="btn btn-link text-white fs-5 btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          ...
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/bill/delete/<%=result.billID%>">Delete</a></li>
        </ul>
      </div>
    </div>
  </td>
  <% } else { %>
  <td><%=result[property]%></td>
  <% } %>
  <%}) %>
  </tr>
  <%powner=result.clientID%>
  <%}%>
        </tbody>
      </table>

    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery.table.marge.js"></script>
    <script>
       $(document).ready(function() {
        $('table').margetable({
          type: 2,
          colindex: [1, 0, 4, 5, 2, 3, 6, 7]// column 1, 2
        });
      });
    </script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/javascripts/client.js"></script>
    <script src="/javascripts/position.js"></script>
    <script src="/javascripts/bill.js"></script>
    
  </body>
</html>